PORT=3000
SESSION_SECRET=cambia-esto-por-una-clave-segura

DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_REDIRECT_URI=http://localhost:3000/auth/discord/callback

DISCORD_BOT_TOKEN=
DISCORD_BOT_CLIENT_ID=
